@charset "utf-8";
/* CSS Document */
/*公用*/
*{margin:0;padding:0;}
html,body{-webkit-text-size-adjust:none;}
body {font-size: 16px; line-height: 1.5; font-family:'Microsoft Yahei','simsun','arial','tahoma';  color: #222; background: #fff; }
ol li,ul li{ margin:0;padding:0;list-style-type:none; vertical-align:middle;}
img{border:none;vertical-align:middle;}
input{vertical-align:middle;}
font{font-size:12px;}
table1{border-collapse: collapse;border-spacing: 0;}
p,h1,h2,h3,h4,h5,h6{font-weight:normal;margin:0;padding:0;}

a:link,a:visited,a:active,a:hover{text-decoration:none;color:#585858;}
.clear{clear:both;}

.fl{float:left;}
.fr{float:right;}

.cdiv{width:1024px;margin:auto;height:460px;position:relative;}
.cdiv1{position:absolute;top:106px;left:760px;width:350px;height:36px;padding-top:232px;z-index:0;color:#fff;}

/* clear float */
.clear, .clearfix:after {
    clear: both;
}
.clear, .clearfix:before, .clearfix:after {
    display: block;
    overflow: hidden;
    width: 0; height: 0;
}
.clearfix:before, .clearfix:after {
    content: '';
}
.clearfix {
    *zoom: 1;
}
.clear{clear: both;}
.fl{ float: left; }
.fr{float: right;}
.ds{display: block;}
.tat{text-align: center;}

.cw{color: #fff;}.cb{color: #222}.cr{color:#EB020E}.bcl{background: green}
.f12{font-size: 12px}.f18{font-size: 18px}.f14{font-size: 14px}.f16{font-size: 16px}.f24{font-size: 24px}.f22{font-size: 22px} .f20{font-size: 20px}

.mt20{margin-top: 20px}.mt2{margin-top: 2px}.mt5{margin-top: 5px;}.mt40{margin-top:40px;}.mt35{margin-top:35px;}.mt10{margin-top: 10px}.mt16{margin-top: 16px}.mt30{margin-top:30px;}.mt13{margin-top:13px;}
.ml40{margin-left: 40px}.ml10{margin-left: 10px}.ml150{margin-left:150px}.ml70{margin-left: 70px}.ml80{margin-left: 80px}.ml20{margin-left: 20px}.ml30{margin-left: 30px}
.mr15{margin-right: 15px}.mr5{margin-right: 5px}.mr10{margin-right: 10px}.mr70{margin-right: 70px}
.mb10{margin-bottom:10px;}.mr20{margin-right: 20px}.mt32{margin-top:32px;}.mt27{margin-top:27px;}
.bb9{
	background: #b90916;
}
.postion_r{
	position: relative;
}

/*文本样式*/
.normar_title{
    font-size: 22px;
    color: #000000;
    /*font-weight: bold;*/
}

/*页面公共部分*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.head {
    font-size: 36px;
    text-align: center;
    color: #0080c2;
    font-weight: bold;
    padding-top: 75px;
    padding-bottom: 30px;
    margin-bottom: 45px;
    position: relative;
}
.head::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    background: #0080c2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
a.btnn {
    display: inline-block;
    padding: 15px 50px;
    background: #0080c2;
    font-size: 24px;
    color: #fff;
    border-radius: 5px;
}
header {
    width: 100%;
    height: 100px;
    /*background: #020d3a;*/
    position: absolute;
    z-index: 100;
}
header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
header .container .logo {
    color: #fff;
    position: relative;
}
header .container .logo img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
header .container .nav ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
header .container .nav ul li {
    padding: 0 30px;
}
header .container .nav ul a {
    display: inline-block;
    width: 100%;
    height: calc(100% - 4px);
    line-height: 100px;
    font-size: 18px;
    color: #ebebeb;
}
header .container .nav ul a:hover {
    color: #fff;
}
header .container .nav ul a.active {
    border-bottom: 4px solid #fff;
}

.contant {
    background-color: #3C4F72;
    background-image: url(../imgs/bg3.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    position: relative;
    /*overflow: hidden;*/
    padding-bottom: 60px;
}
.contant .content {
    max-width: 540px;
    margin: 0 auto;
}
.contant .content .content_c {
    width: 100%;
    height: 70px;
    line-height: 70px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    text-align: left;
    font-size: 24px;
}
.contant .content .content_c label {
    color: #989898;
    margin-left: 30px;
}
.contant .content .content_c input {
    color: #333;
    background: none;
    border: 0;
}
footer {
    width: 100%;
    background: #f1f1f1;
}
footer .center {
    display: flex;
    justify-content: space-between;
    padding: 45px 35px 75px;
    color: #666;
}
footer .center .left_part .logo {
    margin-bottom: 25px;
}
footer .center .left_part .list li {
    margin-bottom: 15px;
}
footer .center .right_part {
    display: flex;
}
footer .center .right_part .item {
    margin-left: 60px;
}
footer .center .right_part .item .title {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}
footer .center .right_part .item ul li {
    margin-top: 15px;
}

/*头部背景*/
.banner_gg .container {
    height: 100%;
    position: relative;
}
.banner_gg .info {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    padding-bottom: 30px;
}
.banner_gg .info .title {
    font-weight: bold;
    margin-bottom: 2px;
    letter-spacing: 5px;
}
.banner_gg .info .content {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
}
.banner_gg .info::before {
    content: "";
    width: 65px;
    height: 4px;
    background: #fff;
    position: absolute;
    bottom: 0;
}