.banner_gg_success{
  width: 100%;
  height: 630px;
  background: url(../imgs/bg4.jpg) no-repeat;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.head {
  font-size: 36px;
  text-align: center;
  color: #0080c2;
  font-weight: bold;
  padding-top: 75px;
  padding-bottom: 30px;
  margin-bottom: 45px;
  position: relative;
}
.head::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background: #0080c2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
a.btnn {
  display: inline-block;
  padding: 15px 50px;
  background: #0080c2;
  font-size: 24px;
  color: #fff;
  border-radius: 5px;
}


/*其他样式*/
.tool .container{
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 37px;
}
.sshezuo{
  background: url('../imgs/sshezuo.jpg');
  height: 400px;
  width: 100%;
  display: flex;
  background-size: 100% 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.wmqiye{
  background: url('../imgs/wmqiye.jpg');
  height: 400px;
  width: 100%;
  display: flex;
  background-size: 100% 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.nzw{
  background: url('../imgs/nzw.jpg');
  height: 400px;
  width: 100%;
  display: flex;
  background-size: 100% 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.sohogeren{
  background: url('../imgs/sohogeren.jpg');
  height: 400px;
  width: 100%;
  display: flex;
  background-size: 100% 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sshezuo>a,.wmqiye>a,.nzw>a,.sohogeren>a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

